In [79]:
import pandas as pd
df = pd.read_excel(r"C:\Users\Nawaf AlHermesi\OneDrive\Desktop\Capstone Project\Multiple Numeric Answers Questions.xlsx",header=1)

In [80]:
df

,Individaul ID,Fruit & vegetables (can include up to one medium glass of fruit juice),"High energy drinks (e.g. Red Bull, Monster)","Sweetened drinks (e.g. Pepsi, fruit juice)\t\t\t\t\t\t","Unsweetened drinks (e.g. milk, water)","Snacks (crisps, chocolate bar, packet of sweets, biscuits)\t\t\t\t\t\t",Been to the gym,Visited a park or play area,"Taken part in organised sports/dance (e.g. football, rugby, cricket, dance, Zumba, gymnastics, cycling, martial arts)",Been swimming,...,I don't have the time,I don't know how to find out what's on offer,Attend an after school club,Join a sports club outside of school,I can talk to my parents/carers/family members,I can talk to adults at school/college,I canâ€™t talk to anyone,I can talk to other adults,I can talk to my friends,Unnamed: 33
0,1,4,NaN,NaN,2,1,No,No,No,No,...,X,NaN,No,No,Yes,Never needed to,No,Never needed to,Yes,NaN
1,2,1,NaN,NaN,4,NaN,No,Yes,No,No,...,NaN,NaN,NaN,NaN,Yes,No,Never needed to,No,Never needed to,NaN
2,3,2,NaN,NaN,5 or more,2,No,Yes,No,No,...,NaN,NaN,NaN,NaN,Yes,No,No,No,Yes,NaN
3,4,5 or more,NaN,1,5 or more,1,No,Yes,Yes,Yes,...,NaN,NaN,No,No,Yes,Yes,Never needed to,Never needed to,Yes,NaN
4,5,1,NaN,1,4,1,No,Yes,Yes,Yes,...,NaN,NaN,Yes,Yes,Yes,No,No,No,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21949,22109,3,NaN,2,3,2,NaN,Yes,Yes,Yes,...,NaN,NaN,Yes,Yes,Yes,Yes,Never needed to,Never needed to,Yes,NaN
21950,22110,4,NaN,1,1,2,NaN,Yes,Yes,No,...,NaN,NaN,No,No,Yes,Yes,No,Yes,Never needed to,NaN
21951,22111,3,NaN,5 or more,NaN,5 or more,NaN,Yes,Yes,Yes,...,NaN,NaN,Yes,Yes,Yes,No,No,No,Yes,NaN
21952,22112,5 or more,NaN,1,5 or more,2,NaN,Yes,Yes,Yes,...,NaN,NaN,No,Yes,Yes,Yes,Yes,Yes,Yes,NaN
21953,22113,NaN,NaN,5 or more,NaN,5 or more,NaN,Yes,No,No,...,NaN,NaN,Yes,No,Yes,No,No,No,No,NaN

In [81]:
df.columns = df.columns.str.replace("\t", "", regex=False)

In [82]:
replace_dict = {
    "None": 0,
    "No": 0,
    "Yes": 1,
    "X": 1,
    "Never needed to": 0,
}

In [83]:
df = df.replace(replace_dict)

C:\Users\Nawaf AlHermesi\AppData\Local\Temp\ipykernel_26844\4239659576.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(replace_dict)

In [84]:
df = df.fillna(0)

In [85]:
df

,Individaul ID,Fruit & vegetables (can include up to one medium glass of fruit juice),"High energy drinks (e.g. Red Bull, Monster)","Sweetened drinks (e.g. Pepsi, fruit juice)","Unsweetened drinks (e.g. milk, water)","Snacks (crisps, chocolate bar, packet of sweets, biscuits)",Been to the gym,Visited a park or play area,"Taken part in organised sports/dance (e.g. football, rugby, cricket, dance, Zumba, gymnastics, cycling, martial arts)",Been swimming,...,I don't have the time,I don't know how to find out what's on offer,Attend an after school club,Join a sports club outside of school,I can talk to my parents/carers/family members,I can talk to adults at school/college,I canâ€™t talk to anyone,I can talk to other adults,I can talk to my friends,Unnamed: 33
0,1,4,0,0,2,1,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,2,1,0,0,4,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,2,0,0,5 or more,2,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,4,5 or more,0,1,5 or more,1,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,5,1,0,1,4,1,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21949,22109,3,0,2,3,2,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
21950,22110,4,0,1,1,2,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
21951,22111,3,0,5 or more,0,5 or more,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
21952,22112,5 or more,0,1,5 or more,2,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
21953,22113,0,0,5 or more,0,5 or more,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [86]:
question_map =  { 
    #q1
    "Fruit & vegetables (can include up to one medium glass of fruit juice)": "On a normal day, how many portions of the following do you have?",
    "High energy drinks (e.g. Red Bull, Monster)": "On a normal day, how many portions of the following do you have?",
    "Sweetened drinks (e.g. Pepsi, fruit juice)" : "On a normal day, how many portions of the following do you have?",
    "Unsweetened drinks (e.g. milk, water)" : "On a normal day, how many portions of the following do you have?",
    "Snacks (crisps, chocolate bar, packet of sweets, biscuits)" : "On a normal day, how many portions of the following do you have?",
    
    #q2
    "Been to the gym" : "In the last four weeks, which of the following activities have you done?",
    "Visited a park or play area" : "In the last four weeks, which of the following activities have you done?",
    "Taken part in organised sports/dance (e.g. football, rugby, cricket, dance, Zumba, gymnastics, cycling, martial arts)": "In the last four weeks, which of the following activities have you done?",
    "Been swimming": "In the last four weeks, which of the following activities have you done?",
    
    #q3
    "My parents/carers worry about me": "Does anything stop you from taking part in physical activities?",
    "Activities donâ€™t cater for my disability": "Does anything stop you from taking part in physical activities?",
    "Nothing appeals to me": "Does anything stop you from taking part in physical activities?", 
    "Too much school/college work": "Does anything stop you from taking part in physical activities?",
    "Other": "Does anything stop you from taking part in physical activities?",
    "Nothing available in my area": "Does anything stop you from taking part in physical activities?",
    "Nothing stops me, I do take part in physical activity": "Does anything stop you from taking part in physical activities?",
    "Nothing available when I want to do it": "Does anything stop you from taking part in physical activities?",
    "I donâ€™t have the confidence": "Does anything stop you from taking part in physical activities?",
    "I have no one to go with": "Does anything stop you from taking part in physical activities?",
    "I have a job": "Does anything stop you from taking part in physical activities?",
    "Nothing stops me from taking part, I choose not to": "Does anything stop you from taking part in physical activities?",
    "Costs too much": "Does anything stop you from taking part in physical activities?",
    "I can't get there": "Does anything stop you from taking part in physical activities?",
    "I don't have the time": "Does anything stop you from taking part in physical activities?",
    "I don't know how to find out what's on offer": "Does anything stop you from taking part in physical activities?",

    #q4
    "Attend an after school club": "Has PE encouraged you to do any of the following?",
    "Join a sports club outside of school": "Has PE encouraged you to do any of the following?",
    "I can talk to my parents/carers/family members": "If I'm worried about something…",
    "I can talk to adults at school/college": "If I'm worried about something…",
    "I canâ€™t talk to anyone": "If I'm worried about something…",
    "I can talk to other adults": "If I'm worried about something…",
    "I can talk to my friends": "If I'm worried about something…",
            }

In [87]:
df_long = df.melt(
    id_vars="Individaul ID",
    var_name="Option",
    value_name="Selected Option"
)

In [88]:
df_long["Question"] = df_long["Option"].map(question_map)

In [89]:
df_long

,Individaul ID,Option,Selected Option,Question
0,1,Fruit & vegetables (can include up to one medi...,4,"On a normal day, how many portions of the foll..."
1,2,Fruit & vegetables (can include up to one medi...,1,"On a normal day, how many portions of the foll..."
2,3,Fruit & vegetables (can include up to one medi...,2,"On a normal day, how many portions of the foll..."
3,4,Fruit & vegetables (can include up to one medi...,5 or more,"On a normal day, how many portions of the foll..."
4,5,Fruit & vegetables (can include up to one medi...,1,"On a normal day, how many portions of the foll..."
...,...,...,...,...
724477,22109,Unnamed: 33,0.0,NaN
724478,22110,Unnamed: 33,0.0,NaN
724479,22111,Unnamed: 33,0.0,NaN
724480,22112,Unnamed: 33,0.0,NaN
724481,22113,Unnamed: 33,0.0,NaN

In [93]:
df_long = df_long[~df_long.eq("Unnamed: 33").any(axis=1)]

In [94]:
df_long

,Individaul ID,Option,Selected Option,Question
0,1,Fruit & vegetables (can include up to one medi...,4,"On a normal day, how many portions of the foll..."
1,2,Fruit & vegetables (can include up to one medi...,1,"On a normal day, how many portions of the foll..."
2,3,Fruit & vegetables (can include up to one medi...,2,"On a normal day, how many portions of the foll..."
3,4,Fruit & vegetables (can include up to one medi...,5 or more,"On a normal day, how many portions of the foll..."
4,5,Fruit & vegetables (can include up to one medi...,1,"On a normal day, how many portions of the foll..."
...,...,...,...,...
702523,22109,I can talk to my friends,1.0,If I'm worried about something…
702524,22110,I can talk to my friends,0.0,If I'm worried about something…
702525,22111,I can talk to my friends,1.0,If I'm worried about something…
702526,22112,I can talk to my friends,1.0,If I'm worried about something…
702527,22113,I can talk to my friends,0.0,If I'm worried about something…

In [95]:
df_long["Option"] = df_long["Option"].str.replace(r"\s*\(.*?\)", "", regex=True).str.strip()

C:\Users\Nawaf AlHermesi\AppData\Local\Temp\ipykernel_26844\4101185528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long["Option"] = df_long["Option"].str.replace(r"\s*\(.*?\)", "", regex=True).str.strip()

In [96]:
df_long

,Individaul ID,Option,Selected Option,Question
0,1,Fruit & vegetables,4,"On a normal day, how many portions of the foll..."
1,2,Fruit & vegetables,1,"On a normal day, how many portions of the foll..."
2,3,Fruit & vegetables,2,"On a normal day, how many portions of the foll..."
3,4,Fruit & vegetables,5 or more,"On a normal day, how many portions of the foll..."
4,5,Fruit & vegetables,1,"On a normal day, how many portions of the foll..."
...,...,...,...,...
702523,22109,I can talk to my friends,1.0,If I'm worried about something…
702524,22110,I can talk to my friends,0.0,If I'm worried about something…
702525,22111,I can talk to my friends,1.0,If I'm worried about something…
702526,22112,I can talk to my friends,1.0,If I'm worried about something…
702527,22113,I can talk to my friends,0.0,If I'm worried about something…

In [97]:
df_long["Option"] = (
    df_long["Option"]
    .str.replace("â€™", "’", regex=False)
    .str.strip()
)

C:\Users\Nawaf AlHermesi\AppData\Local\Temp\ipykernel_26844\2796137524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long["Option"] = (

In [99]:
df_long = df_long[["Individaul ID", "Question", "Option", "Selected Option"]]

In [102]:
df_long.to_excel("Final_Cleaned_dataset.xlsx", index=False)

In [103]:
df_long

,Individaul ID,Question,Option,Selected Option
0,1,"On a normal day, how many portions of the foll...",Fruit & vegetables,4
1,2,"On a normal day, how many portions of the foll...",Fruit & vegetables,1
2,3,"On a normal day, how many portions of the foll...",Fruit & vegetables,2
3,4,"On a normal day, how many portions of the foll...",Fruit & vegetables,5 or more
4,5,"On a normal day, how many portions of the foll...",Fruit & vegetables,1
...,...,...,...,...
702523,22109,If I'm worried about something…,I can talk to my friends,1.0
702524,22110,If I'm worried about something…,I can talk to my friends,0.0
702525,22111,If I'm worried about something…,I can talk to my friends,1.0
702526,22112,If I'm worried about something…,I can talk to my friends,1.0
702527,22113,If I'm worried about something…,I can talk to my friends,0.0